<html>
    <head>     
    </head>
    <body>
        <div align="center">
        <h1>Register Here</h1>
        <form method="post" action="/user/register">
        <label>UserName</label>
        <input type="text" id="username" name="username"><br><br>
        <label>Password</label>
        <input type="password" id="password" name = "password"><br><br>
        <input type="submit" value="Register" id="registerbtn">
        </form>
        <br>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>            
    </body>
</html>